---
---
<html lang="en">

<head>
  <title>St. Anthony's College, Kandy</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Material Kit CSS -->
  <link href="assets/css/custom.css" rel="stylesheet"/>
  <link href="assets/css/material-kit.css?v=2.0.7" rel="stylesheet"/>
  <link href="assets/css/styles.css" rel="stylesheet"/>
</head>

<body>
<!-- Navbar -->
{% include static/navbar.html %}
<!-- //Navbar -->

<!-- Header -->
<div class="page-header header-filter" data-parallax="true"
     style="background-image: url('assets/img/header-image.png')">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="title text-left">
          <h1>Lorem Ipsum Dollar <br>Sit Amet</h1>
          <p class="text-muted">
            nterdum et malesuada fames ac ante ipsum <br>primis in faucibus. Suspendisse vel mi dui.
          </p>
        </div>
        <a href="#resource-section" class="btn btn-primary btn-sm">GO TO CLASSROOM</a>
      </div>
    </div>
  </div>
</div>
<!-- //Header -->

<!-- Resource Section -->
<div id="resource-section">
  <div class="main section">
    <div class="ml-5 mr-5 pt-0">
      <!-- News section -->
      <div class="news-section">
        <h2 class="section-name"> NEWS </h2>
        <div class="row">
          <div class="news-card" style="width: 20rem;">
            <div class="card-body">
              <h6 class="card-date">24TH JUNE</h6>
              <h4 class="card-title">Nam aliquam bibendum ullamcorper. Praesent tempor</h4>
              <p class="card-text">
                Fusce maximus nisl vitae dolor suscipit, tempus hendrerit turpis eleifend. Proin interdum
                tortor vel erat finibus, sit amet ultrices augue congue. Cras consectetur, sapien ac gravida
                vulputate, arcu nibh maximus mi, quis laoreet odio e...
              </p>
            </div>
          </div>
          <div class="news-card" style="width: 20rem;">
            <div class="card-body">
              <h6 class="card-date">24TH JUNE</h6>
              <h4 class="card-title">Nam aliquam bibendum ullamcorper. Praesent tempor</h4>
              <p class="card-text">
                Fusce maximus nisl vitae dolor suscipit, tempus hendrerit turpis eleifend. Proin interdum
                tortor vel erat finibus, sit amet ultrices augue congue. Cras consectetur, sapien ac gravida
                vulputate, arcu nibh maximus mi, quis laoreet odio e...
              </p>
            </div>
          </div>
          <div class="news-card" style="width: 20rem;">
            <div class="card-body">
              <h6 class="card-date">24TH JUNE</h6>
              <h4 class="card-title">Nam aliquam bibendum ullamcorper. Praesent tempor</h4>
              <p class="card-text">
                Fusce maximus nisl vitae dolor suscipit, tempus hendrerit turpis eleifend. Proin interdum
                tortor vel erat finibus, sit amet ultrices augue congue. Cras consectetur, sapien ac gravida
                vulputate, arcu nibh maximus mi, quis laoreet odio e...
              </p>
            </div>
          </div>
        </div>
        <div class="btn-section">
          <button type="button" class="btn btn-class btn-sm">SEE MORE</button>
        </div>
      </div>
      <!-- //News section -->

      <!-- Calendar section-->
      <div class="calendar-section">
        <h2 class="section-name">What’s happening this week?</h2>
        <div class="row">
          <!--     Add calendar here     -->
        </div>
        <div class="btn-section">
          <button type="button" class="btn btn-class btn-sm">VIEW FULL CALENDAR</button>
        </div>
      </div>
      <!-- //Calendar section-->
    </div>
    <!-- Contact section-->
    <div class="contact-section">
      <div class="row">
        <h2 class="section-name">Contact Us</h2>
      </div>
      <div class="row">
        <h2 class="section-name">081 221 3652</h2>
      </div>
    </div>
    <!-- //Contact section-->
  </div>
</div>
<!-- //Resource Section -->

<!-- Footer -->
{% include static/footer.html %}
<!-- //Footer -->

</body>
<script src="assets/js/core/jquery.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="./assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="./assets/js/material-kit.js?v=2.0.7" type="text/javascript"></script>
</html>
