<!-- Navbar -->
<nav class="navbar navbar-default navbar-expand-lg fixed-top" color-on-scroll="100">
  <div class="container">
    <div class="col">
      <div class="row justify-content-start">
        <div class="col-sm-4">
          <img class="nav-img" src="{{ site.baseurl }}/assets/img/nav-img.svg">
        </div>
        <div class="col-sm-8">
          <div class="row justify-content-end">
            <div class="col-sm-8">
              <button class="btn btn-contact">
                <i class="material-icons">call</i> 081 221 3652
              </button>
              <form class="form-inline searchbar">
                <div class="searchLarge">
                  <div class="gcse-search"></div>
                </div>
              </form>
            </div>
            <div class="col-sm-8">
              <ul class="navbar-nav">
                <li class="active nav-item"><a href="../../" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="../../contact_us/" class="nav-link">Contact Us</a></li>
                <li class="nav-item"><a href="../../history/" class="nav-link">History</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-view row justify-content-center">
        <div class="phone-icon ">
          <i class="material-icons">call</i>
        </div>
        <div class="search-icon ">
          <div onclick="showSearchbar()"><i class="material-icons search">search</i></div>
        </div>
        <div class="hamburger ">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <br>
        <div class="searchbar">
          <div class="searchSmall" id="SearchBar" style="display: none">
            <div class="gcse-search"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- //Navbar -->
<!--Function for the search bar-->
<script>
  function showSearchbar() {
    let x = document.getElementById("SearchBar");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>






