<!-- Navbar -->
<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="{{site.baseurl}}/index.html">St. Anthony's College, Kandy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ordinance
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Administration</a>
            <a class="dropdown-item" href="#">Government</a>
            <a class="dropdown-item" href="#">Congregation</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            College Staff
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Curricular Staff</a>
            <a class="dropdown-item" href="#">Extra Curricular Staff</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Bursar
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">School Fee</a>
            <a class="dropdown-item" href="#">SDS Fee</a>
            <a class="dropdown-item" href="#">Bursar Office</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Student Societies
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{site.baseurl}}/societies/acf/index.html">Computer Fraternity</a>
            <a class="dropdown-item" href="{{site.baseurl}}/societies/template/index.html">Media Unit</a>
            <a class="dropdown-item" href="{{site.baseurl}}/societies/template/index.html">Astrological</a>
            <a class="dropdown-item" href="{{site.baseurl}}/societies/template/index.html">Cultural Societies</a>
            <a class="dropdown-item" href="{{site.baseurl}}/societies/template/index.html">Religious Societies</a>
            <a class="dropdown-item" href="{{site.baseurl}}/societies/template/index.html">Template</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admissions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">New Admissions</a>
            <a class="dropdown-item" href="#">Old Admissions</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="https://blog.sack.edu.lk" target="_blank" class="nav-link">News</a>
        </li>
        <li class=" nav-item ">
          <a class="btn btn-primary btn-round ml-5" href="tel:(+94)81-2213652">
            <i class="material-icons">call</i> CALL US
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- //Navbar -->
