html {
    scroll-behavior: smooth;
}

@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/strude');

/* Text Selection Colour */

::selection {
    color: black;
    background: rgb(0, 217, 255);
}

/* Firefox */

::-moz-selection {
    color: black;
    background: rgb(0, 217, 255);
}


/* Custom Scrollbar */

@media (min-width: 200px) and (max-width: 575px) {
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: #07090f;
    }

    ::-webkit-scrollbar-track {
        border: 5px solid rgba(255, 255, 255, 0.25);
        box-shadow: inset 0 0 2.5px 2 rgba(0, 0, 0, 0.5);
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(45deg, #003079, #2eaae1);
        border-radius: 15px;
    }
}

@media (min-width: 575.1px) and (max-width: 767px) {
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: #07090f;
    }

    ::-webkit-scrollbar-track {
        border: 5px solid rgba(255, 255, 255, 0.25);
        box-shadow: inset 0 0 2.5px 2 rgba(0, 0, 0, 0.5);
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(45deg, #003079, #2eaae1);
        border-radius: 15px;
    }
}

@media (min-width: 767.1px) and (max-width: 991px) {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: #07090f;
    }

    ::-webkit-scrollbar-track {
        border: 5px solid rgba(255, 255, 255, 0.25);
        box-shadow: inset 0 0 2.5px 2 rgba(0, 0, 0, 0.5);
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(45deg, #003079, #2eaae1);
        border-radius: 15px;
    }
}

@media (min-width: 991.1px) {
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background-color: #07090f;
    }

    ::-webkit-scrollbar-track {
        border: 5px solid rgba(255, 255, 255, 0.25);
        box-shadow: inset 0 0 2.5px 2 rgba(0, 0, 0, 0.5);
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(45deg, #003079, #2eaae1);
        border-radius: 15px;
    }
}

body {
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-animation-name: ScreenFade;
    -webkit-animation-duration: 3s;
    animation-name: ScreenFade;
    animation-duration: 3s;
}

/* Screen Fading Animation */

@-webkit-keyframes ScreenFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes ScreenFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.header {
    position: fixed;
    width: 100%;
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50px);
    color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 50px black;
    z-index: 100;
}

.logo-container {
    width: 50%;
    text-align: center;
}

.slideshow-container {
    max-width: 480px;
    position: relative;
    margin: auto;
    margin-bottom: 5px;
}

.mySlides {
    display: none;
    width: 100%;
    animation: fade 1s ease-in-out;
    border: 10px solid white;
    border-radius: 25px;
    box-shadow: 0 0 100px black;
}

img {
    width: 100%;
    height: auto;
}

/* Navigation Arrows */
.prev,
.next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 8px;
    color: black;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    text-decoration: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Navigation Lines */
.line-container {
    text-align: center;
}

.line {
    display: inline-block;
    height: 2px;
    width: 25px;
    background-color: #717171;
    margin: 0 2px;
    transition: background-color 0.6s ease;
}

.active-line {
    background-color: #dfdfdf;
}

/* Animation */
@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .logo-container {
        width: auto;
        text-align: center;
    }

    .logo1 {
        width: 40px;
    }

    .logo2 {
        width: 230px;
    }

    .logo3 {
        width: 70px;
    }

    .header {
        padding: 15px;
        border-radius: 25px;
    }

    .footer {
        padding: 16px;
    }

    .powered-by {
        font-size: 15px;
    }

    .copyright {
        font-size: 14px;
    }

    marquee {
        font-size: 13px;
        padding: 13px;
        margin-bottom: 18px;
        margin-top: 100px;
    }
}

@media screen and (min-width: 600px) {

    .logo1 {
        width: 60px;
    }

    .logo2 {
        width: 270px;
    }

    .logo3 {
        width: 100px;
    }

    marquee {
        font-size: 15px;
        margin-bottom: 20px;
        padding: 15px;
        margin-top: 108px;
    }

    .footer {
        padding: 20px;
    }

    .powered-by {
        font-size: 18px;
    }

    .copyright {
        font-size: 17px;
    }
}

@media screen and (max-width: 500px) {
    .logo2 {
        width: 200px;
    }

    marquee {
        font-size: 11px;
        padding: 11px;
        margin-bottom: 15px;
        margin-top: 90px;
    }

    .prev,
    .next {
        font-size: 28px;
        padding: 8px;
    }

}

@media screen and (max-width: 430px) {
    .line {
        width: 20px;
    }

}

@media screen and (max-width: 400px) {

    .logo1 {
        width: 30px;
    }

    .logo2 {
        width: 180px;
    }

    .logo3 {
        width: 60px;
    }

    marquee {
        margin-top: 80px;
    }

}

@media screen and (max-width: 350px) {

    .logo1 {
        width: 25px;
    }

    .logo2 {
        width: 170px;
    }

    .logo3 {
        width: 55px;
    }

    .line {
        width: 15px;
    }

    .prev,
    .next {
        font-size: 25px;
        padding: 8px;
    }
}

.footer {
    text-align: center;
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(50px);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 50px black;
}

.powered-by {
    margin-bottom: 5px;
}

.copyright {
    font-family: 'Montserrat', sans-serif;
}

.powered {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: white;
    transition: 0.5s;
}

.powered:hover {
    color: rgb(212, 212, 212);
    transition: 0.5s;
}

.name {
    font-family: 'strude', sans-serif;
    color: white;
    transition: 0.5s;
}

.name:hover {
    color: rgb(180, 180, 180);
    transition: 0.5s;
}

marquee {
    color: rgb(173, 173, 173);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(50px);
    border-radius: 10px;
}

.social-media {
    margin-top: 10px;
}

.icons {
    transition: 0.5s;
    color: rgb(168, 168, 168);
}

.icons:hover {
    cursor: pointer;
    transform: translateY(-4px);
    transition: 0.5s;
    color: rgb(124, 124, 124);
}
