.section{
  padding-bottom: 0px!important;
}

.main{
  background: white!important;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.search-icon {
  display: none;
}

.phone-icon {
  display: none;
}

.mobile-view{
  width: 100%;
}

.nav-btn-hover:hover, .nav-btn-hover.active:hover {
  background-color: #dedede;
}

.btn-contact a {
  color: #00316A;
}

.contact-us .google-map {
  position: relative;
  bottom: 8px;
  height: 293px;
}

@media only screen and (max-width: 991px) {
  .navbar-nav {
      position: fixed;
      left: -100%;
      top: 6rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .navbar-nav.active {
      left: 0;
  }

  .navbar-nav {
      margin: 2.5rem 0;
  }

  .search-icon {
    display: block;
    margin-right: 5.0rem;
  }

  .phone-icon {
    display: block;
    margin-right: 5.0rem;
  }

  .phone-icon a{
    color: #101010;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .bmd-form-group {
    display: none !important;
  }  

  .btn-contact {
    display: none !important;
  }

  .contact-us .google-map {
    bottom: 0px;
    height: 293px;
    z-index: 99;
  }

}

.page-header .btn-primary{
  background-color: #008CC4!important;
  font-size: 12px !important;
  letter-spacing: 1px;
}
.page-header .text-muted{
  font-family: Roboto, sans-serif !important;
  font-weight: lighter;
  color: whitesmoke!important;
}

.section-name{
  text-align: center;
  font-weight: 400;
  font-family: Roboto, sans-serif !important;
}

.news-section .row{
  justify-content: center;
}
.card-date{
  color: #00316A;
  font-weight: 1000;
  margin-bottom: 0px;
}
.card-title{
  font-family: Roboto, sans-serif !important;
  font-weight: 500!important;
  margin-top: 0px;
  color: #000000!important;
}
.news-card{
  border: 0;
  min-width: 14%;
  max-width: 50%;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: #ffffff;
}

.btn-section{
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.btn-class{
  align-content: center;
  background-color: #00A6C4!important;
  font-size: 15px !important;
  letter-spacing: 1px !important;
}

.contact-section{
  background-color: #F3F3F3;
  padding-bottom: 40px;
  padding-top: 40px;
}

.contact-section .row{
  justify-content: center;
}

.contact-section a{
  color: #00316A;
}

.nav-img{
  width: 240px;
  padding: 20px 0;
}

.navbar .search{
  color: #008CC4;
}

.form-control, .is-focused .form-control {
  background-image: linear-gradient(to top, #008CC4 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px)!important;
}

.col-sm-8{
  display: flex;
  justify-content: flex-end;
}

.btn-contact{
  background-color: transparent!important;
  color: #00316A!important;
  font-weight: 500!important;
  font-size: 18px !important;
  padding: 0;
  margin-right: 20px;
  box-shadow: none!important;
  border: none;
  background: none;
}

.form-inline .btn-white{
  box-shadow: none!important;
}

.cust-post-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}

.color-overlay:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.cust-img {
  width: 100%;
}
.cust-hr {
  width: 100%;
  color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bg-gradient-success {
  background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
}

.bg-gradient-info {
  background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important;
}

.bg-gradient-warning {
  background: linear-gradient(87deg, #fb6340 0, #fbb140 100%) !important;
}

.stats {
  display: inline-flex;
  position: relative;
  top: 3px;
  margin-right: 3px;
  margin-left: 3px;
  font-size: 16px;
  color: #6f81a4;
}

.card-footer {
  position: relative;
  top: 3px;
  margin-right: 3px;
  margin-left: 3px;
  font-size: 18px;
  display: flex;
  align-items: center;
  border: 0;
  padding: 1.25rem 1.5rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top: 0.0625rem solid rgba(0, 0, 0, 0.05);
  color: #6f81a4;
  background-color: #f6f9fc;
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 0.0625rem) calc(0.25rem - 0.0625rem);
}

.author {
  display: inline-flex;
  color: #3c4858;
  text-decoration: none;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}

.avatar {
  font-size: 1rem;
  display: inline-flex;
  position: relative;
  z-index: 2;
  border: 2px solid rgb(236, 236, 236);
  width: 48px;
  height: 48px;
  color: #fff;
  border-radius: 50%;
  background-color: #c9c9c9;
  align-items: center;
  justify-content: center;
}

.avatar img {
  width: 100%;
  border-radius: 50%;
}

.avatar:hover {
  z-index: 3;
}

.cust-shadow {
  box-shadow: 0 15px 35px rgba(57, 59, 68, 0.205),
    0 5px 15px rgba(0, 0, 0, 0.103) !important;
}

.cust-align {
  align-items: center;
}

.cust-main-raised {
  margin: -60px 30px 0;
  margin-top: -270px;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 830px) {
  .cust-main-raised {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.cust-btn-text-color {
  color: black !important;
}

/*Google classroom*/
.googleClassroom .btn {
  background-color: #2980B9;
  color: #fff;
  display: inline-block;
  border-radius: 50px;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  text-transform: none;
}


.googleClassroom .btn:hover {
  background-color: #2E8DEF;
}

 .googleClassroom .img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

 .googleClassroom .list {
   font-family: 'Open Sans', sans-serif;
   color: #888888;
   font-weight: 400;
 }

.googleClassroom .text {
  font-size: 1.125rem;
  line-height: 1.5em;
  font-weight: 700;

   }

#calendar{
  max-width: 800px;
  margin: 40px auto;
}

/* for history page  */
.main > .section > .container > #resource-section > .container > img {
  margin: 20px;
}

@media only screen and (max-width: 991px) {
  .main > .section > .container > #resource-section > .container > img {
    margin: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .main > .section > .container > #resource-section > .container > img {
    margin: 5px;
  }
}

/*Homepage Search Bar*/
.gsc-search-button-v2 {
  padding: 8px 10px 0px 10px !important;
  background-color: #00a6c4 !important;
  border-color: #00a6c4 !important;
}

 .gsc-input-box {
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: 1px solid #dfe1e5 !important;
  width: 150px !important;
}

@media screen and (min-width: 992px) {
  .searchSmall{display: none !important;}
}

@media screen and (max-width: 992px) {
  .searchLarge{display: none;}
  .gsc-control-cse{
    margin-left: 200px !important;
    margin-right: 200px !important;
  }

}
/*End of Homepage Search Bar*/

/*Society Page*/
.society-header{
  background: white!important;
}

.society-nav-link{
  display: block;
  color: #008CC4!important;
  font-weight: 400;
  margin: 0;
  border-radius: 3px;
  line-height: 24px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 15px;
  background-color: transparent;
  transition: 0.3s background-color 0s;
}

.society-nav-link.active {
  background-color: rgba(138, 138, 138, 0.2);
  transition: 0.3s background-color 0.2s;
}

.society-body{
  margin-top: 50px;
}

.society-body-text{
  font-size: 15px;
}

.mt-70 {
  margin-top: 70px
}

.mb-70 {
  margin-bottom: 70px
}

.card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-width: 0;
  transition: all .2s
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(26, 54, 126, 0.125);
  border-radius: .25rem
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem
}

.vertical-timeline {
  width: 100%;
  position: relative;
  padding: 1.5rem 0 1rem
}

.vertical-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 67px;
  height: 100%;
  width: 4px;
  background: #e9ecef;
  border-radius: .25rem
}

.vertical-timeline-element {
  position: relative;
  margin: 0 0 1rem
}

.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
  visibility: visible;
  animation: cd-bounce-1 .8s
}

.vertical-timeline-element-icon {
  position: absolute;
  top: 0;
  left: 60px
}

.vertical-timeline-element-icon .badge-dot-xl {
  box-shadow: 0 0 0 5px #fff
}

.badge-dot-xl {
  width: 18px;
  height: 18px;
  position: relative
}

.badge:empty {
  display: none
}

.badge-dot-xl::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: .25rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -5px 0 0 -5px;
  background: #fff
}

.vertical-timeline-element-content {
  position: relative;
  margin-left: 90px;
  font-size: .8rem
}

.vertical-timeline-element-content .timeline-title {
  font-size: .8rem;
  text-transform: uppercase;
  margin: 0 0 .5rem;
  padding: 2px 0 0;
  font-weight: bold
}

.vertical-timeline-element-content .vertical-timeline-element-date {
  display: block;
  position: absolute;
  left: -90px;
  top: 0;
  padding-right: 10px;
  text-align: right;
  color: #adb5bd;
  font-size: .7619rem;
  white-space: nowrap
}

.vertical-timeline-element-content:after {
  content: "";
  display: table;
  clear: both
}

.advisor-headings h4{
  color: #008CC4;
  font-weight:normal;
}

.acf-gclass-card p{
  color: #000000 !important;
  opacity: 0.8;
}

.acf-gclass-card{
  padding: 5px 5px 20px 5px;
}

.text-light-blue{
  color: #008CC4 !important;
}

.check-mark-success{
  width: 25px;
  height: 25px;
  color: white;
  background-color: #4caf50;
  padding: 4px;
  border-radius:50%;
  margin-left: auto;
}

.check-mark-muted{
  width: 25px;
  height: 25px;
  color: white;
  background-color: #cccccc;
  padding: 4px;
  border-radius: 50%;
  margin-left: auto;
}
/*End Society Page*/
